/*
 * prevent selection of objects everywhere
 */
body {
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
}

@font-face {
  font-family: 'orienteering';
  src:url('../fonts/orienteering.eot?cxef2e');
  src:url('../fonts/orienteering.eot?cxef2e#iefix') format('embedded-opentype'),
    url('../fonts/orienteering.ttf?cxef2e') format('truetype'),
    url('../fonts/orienteering.woff?cxef2e') format('woff'),
    url('../fonts/orienteering.svg?cxef2e#orienteering') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'orienteering';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd {
  font-family: 'orienteering';
  speak: none;
  font-size: 10em;
  color: purple;
  border: 5px solid purple;
}

.icon-01-terrace:before {
  content: "\e900";
}
.icon-02-spur:before {
  content: "\e901";
}
.icon-03-reentrant:before {
  content: "\e902";
}
.icon-04-earthbank:before {
  content: "\e903";
}
.icon-05-quarry:before {
  content: "\e904";
}
.icon-06-earthwall:before {
  content: "\e905";
}
.icon-07-gully:before {
  content: "\e906";
}
.icon-08-small-gully:before {
  content: "\e907";
}
.icon-09-hill:before {
  content: "\e908";
}
.icon-10-knoll:before {
  content: "\e909";
}
.icon-11-saddle:before {
  content: "\e90a";
}
.icon-12-depression:before {
  content: "\e90b";
}
.icon-13-small-depression:before {
  content: "\e90c";
}
.icon-14-pit:before {
  content: "\e90d";
}
.icon-15-broken-ground:before {
  content: "\e90e";
}
.icon-16-ant-hill:before {
  content: "\e90f";
}
.icon-01-cliff:before {
  content: "\e910";
}
.icon-02-rock-pillar:before {
  content: "\e911";
}
.icon-03-cave:before {
  content: "\e912";
}
.icon-04-boulder:before {
  content: "\e913";
}
.icon-05-boulder-field:before {
  content: "\e914";
}
.icon-06-boulder-cluster:before {
  content: "\e915";
}
.icon-07-stony-ground:before {
  content: "\e916";
}
.icon-08-bare-rock:before {
  content: "\e917";
}
.icon-09-narrow-passage:before {
  content: "\e918";
}
.icon-01-lake:before {
  content: "\e919";
}
.icon-02-pond:before {
  content: "\e91a";
}
.icon-03-waterhole:before {
  content: "\e91b";
}
.icon-04-river:before {
  content: "\e91c";
}
.icon-05-ditch:before {
  content: "\e91d";
}
.icon-06-narrow-marsh:before {
  content: "\e91e";
}
.icon-07-marsh:before {
  content: "\e91f";
}
.icon-08-firm-ground-in-marsh:before {
  content: "\e920";
}
.icon-09-well:before {
  content: "\e921";
}
.icon-10-spring:before {
  content: "\e922";
}
.icon-11-water-tank:before {
  content: "\e923";
}
.icon-01-open-land:before {
  content: "\e924";
}
.icon-02-semi-open-land:before {
  content: "\e925";
}
.icon-03-forest-corner:before {
  content: "\e926";
}
.icon-04-clearing:before {
  content: "\e927";
}
.icon-05-thicket:before {
  content: "\e928";
}
.icon-06-linear-thicket:before {
  content: "\e929";
}
.icon-07-vegetation-boundary:before {
  content: "\e92a";
}
.icon-08-copse:before {
  content: "\e92b";
}
.icon-09-distinctive-tree:before {
  content: "\e92c";
}
.icon-10-rootstock:before {
  content: "\e92d";
}
.icon-01-road:before {
  content: "\e92e";
}
.icon-02-path:before {
  content: "\e92f";
}
.icon-03-ride:before {
  content: "\e930";
}
.icon-04-bridge:before {
  content: "\e931";
}
.icon-05-power-line:before {
  content: "\e932";
}
.icon-06-pylon:before {
  content: "\e933";
}
.icon-07-tunnel:before {
  content: "\e934";
}
.icon-08-stone-wall:before {
  content: "\e935";
}
.icon-09-fence:before {
  content: "\e936";
}
.icon-10-gate:before {
  content: "\e937";
}
.icon-11-building:before {
  content: "\e938";
}
.icon-12-paved-area:before {
  content: "\e939";
}
.icon-13-ruin:before {
  content: "\e93a";
}
.icon-14-pipeline:before {
  content: "\e93b";
}
.icon-15-tower:before {
  content: "\e93c";
}
.icon-16-shooting-platform:before {
  content: "\e93d";
}
.icon-17-cairn:before {
  content: "\e93e";
}
.icon-18-fodder-rack:before {
  content: "\e93f";
}
.icon-19-platform:before {
  content: "\e940";
}
.icon-20-statue:before {
  content: "\e941";
}
.icon-23-canopy:before {
  content: "\e942";
}
.icon-24-stairway:before {
  content: "\e943";
}
.icon-01-special-item:before {
  content: "\e944";
}
.icon-02-special-item:before {
  content: "\e945";
}
