body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

.large-text {
  font-size: 24px;
}

.question-container {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.answer-icon-grid {
  background-color: lightgray;
  margin: 15px 25px;
}

.match-cards {
  width: 95%;
}

.cd-card {
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
  display: inline-flex;
  height: 80px;
  justify-content: center;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

.cd-card-text {
  font-size: 15px;
}

.cd-card-symbol {
  font-size: 60px;
}

.card-got-it {
  background-color: silver;
}

.card-selected {
  background-color: green;
  color: white;
}

.question-cell {
  border: 3px solid;
  color: black;
  font-size: 80px;
  margin: 8px auto;
  text-align: center;
  width: 120px;
  color: darkviolet;
}

.small-cd-icon {
  color: white;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  width: 42px;
}

.big-cd-icon {
  border: 3px solid;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 60px;
  margin: 8px;
  text-align: center;
  width: 90px;
  color: darkviolet;
}

.text-center {
  text-align: center;
}

.top-margin {
  margin-top: 20px;
}

.reset-top-margin {
  margin-top: -5px;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.unanswered {
  background-color: white;
}

.cd {
  font-family: "orienteering-maprunner";
}

/* CSS from IcoMoon font generation [process */
@font-face {
  font-family: 'orienteering-maprunner';
  src:  url('../fonts/orienteering-maprunner.eot?odiy9s');
  src:  url('../fonts/orienteering-maprunner.eot?odiy9s#iefix') format('embedded-opentype'),
    url('../fonts/orienteering-maprunner.ttf?odiy9s') format('truetype'),
    url('../fonts/orienteering-maprunner.woff?odiy9s') format('woff'),
    url('../fonts/orienteering-maprunner.svg?odiy9s#orienteering-maprunner') format('svg');
  font-weight: normal;
  font-style: normal;
}

